.sd-editor-scoped,
.sd-editor-scoped :where(*),
.sd-editor-scoped :where(*::before),
.sd-editor-scoped :where(*::after) {
  /* all: revert; // affects display of SVGs - paths are not being rendered. */
  box-sizing: border-box;
}

.sd-editor-scoped svg {
  display: inline-block;
  overflow: visible;
}

.sd-editor-scoped {
  display: block;
}
