body, html {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.super-editor .ProseMirror {
  min-height: 400px;
  border: 1px solid #999;
  border-radius: 8px;
  white-space: pre-wrap;
  color: black !important;
  padding: 20px;
  width: 600px;
  outline: none;
  height: fit-content;
}
.super-editor .ProseMirror > * {
  color: black;
  font-family: 'Arial', sans-serif;
  font-size: 12px !important;
}

.super-editor .super-editor-toolbar {
  display: flex;
  background-color: white;
  padding: .5em;
}

.super-editor .super-editor-toolbar .menuicon {
  margin: 0 .25em;
  cursor: pointer;
  /* padding: .5em 1em; */
  width: 25px;
  height: 25px;
  border: solid 1px gainsboro;
  border-radius: 10%;
  background-color: white;
  position: relative;
}

.super-editor .super-editor-toolbar .menuicon span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.super-editor .super-editor-toolbar .menuicon:hover {
  background-color: #f0f0f0;  
}

.super-editor .super-editor-toolbar .menuicon.active {
  background-color: #d6d1d1;
}

.super-editor .super-editor-toolbar .menuicon.strong span {
  font-weight: bold;
}

.super-editor .super-editor-toolbar .menuicon.em span {
  font-style: italic;
}

.super-editor .super-editor-toolbar .menuicon.underline span {
  text-decoration: underline;
}

.super-editor .super-editor-toolbar .menuicon.strikethrough span {
  text-decoration: line-through;
}